* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #0C1012;
}

#canvas {
  width: 100%;
  height: 100%;
}

html {
  height: 100%;
  width: 100%;
}

/* FONTS */

@font-face {
  font-family: "Jay Gothic URW";
  src: "https://fonts.adobe.com/fonts/jay-gothic-urw#fonts-section";
}

@font-face {
  font-family: "Monte Stella";
  src: "https://fonts.adobe.com/fonts/monte-stella";
}

/* COMPONENTS */

#title {
  font-family: "Jay Gothic URW", Regular;
  font-size: 150px;
  color: #E6FFFB;
  text-align: center;
  position: relative;
  bottom: -50px;
}

#sub {
  font-family: "Monte Stella", Light;
  font-size: 40px;
  color: #91B8BE;
  text-align: center;
  position: relative;
  bottom: 700px;
  right: -620px
}

/*
body {
  background-color:bgCol; 
  color:outlineCol;
}


.button {
  display:inline-block;
  font-size:24px;
  padding:4px 8px;
}

nav {
  background-color:bgCol;
  padding:1em;
  ul {
    margin:0;
    padding:0;
    list-style:none;
    li {
      display:inline-block;
    }
  }
}

*/