* {
  margin: 0;
  padding: 0;
  width: 100%;
}

#canvas {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 1000vh;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

html {
  height: 100%;
  width: 100%;
  background-color: #0a0f14;
}

#glow {
  position: fixed;
  z-index: 150;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  background-image: linear-gradient(#00000000, #090f0ece);
}


/* FONTS */

@font-face {
  font-family: "URW Jay Gothic W01 Light";
  src: url("https://db.onlinewebfonts.com/t/8ef91f267dfca5b6ea388ec6dcdd9527.eot");
  src: url("https://db.onlinewebfonts.com/t/8ef91f267dfca5b6ea388ec6dcdd9527.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/8ef91f267dfca5b6ea388ec6dcdd9527.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/8ef91f267dfca5b6ea388ec6dcdd9527.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/8ef91f267dfca5b6ea388ec6dcdd9527.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/8ef91f267dfca5b6ea388ec6dcdd9527.svg#URW Jay Gothic W01 Light")format("svg");
}

@font-face {
  font-family: "Monte Stella Trial Light";
  src: url("https://db.onlinewebfonts.com/t/21ae87f65567bda43d77c68ae7478930.eot");
  src: url("https://db.onlinewebfonts.com/t/21ae87f65567bda43d77c68ae7478930.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/21ae87f65567bda43d77c68ae7478930.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/21ae87f65567bda43d77c68ae7478930.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/21ae87f65567bda43d77c68ae7478930.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/21ae87f65567bda43d77c68ae7478930.svg#Monte Stella Trial Light")format("svg");
}

@font-face {
  font-family: "FSP DEMO - Bebas Neue Pro Light";
  src: url("https://db.onlinewebfonts.com/t/5fd03961d9ff00b65b9b446fe2034712.eot");
  src: url("https://db.onlinewebfonts.com/t/5fd03961d9ff00b65b9b446fe2034712.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/5fd03961d9ff00b65b9b446fe2034712.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/5fd03961d9ff00b65b9b446fe2034712.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/5fd03961d9ff00b65b9b446fe2034712.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/5fd03961d9ff00b65b9b446fe2034712.svg#FSP DEMO - Bebas Neue Pro Light")format("svg");
}

/* COMPONENTS */

.titles {
  text-align: center;
}


#title {
  z-index: 100;
  font-family: "URW Jay Gothic W01 Light";
  font-size: 300px;
  color: #E6FFFB;
  position: absolute;
  top: 100px;
  opacity: 0;

}


.outDotsContainer {
  align-items: center;
  width: 100vw;
  position: absolute !important;
}

.dotsContainer {
  width: 0;
  align-items: center;
  margin: auto;
  margin-left: -390px;
  position: absolute !important;
}

.dots {
  z-index: 47;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background-color: #ffffff;
  position: absolute !important;
  opacity: 0;
  
  transform: translateY(40px); 

}



/* spacing 60px */

/* C1*/ 

#dotC1-1 {
  top: 380px;
  left: 0px;
}

#dotC1-2 {
  top: 380px;
  left: 60px;
}

#dotC1-3 {
  top: 490px;
  left: 0px;
}

#dotC1-4 {
  top: 490px;
  left: 60px;
}

/* O1 */

#dotO1-1 {
  top: 380px;
  left: 120px;
}

#dotO1-2 {
  top: 380px;
  left: 180px;
}

#dotO1-3 {
  top: 490px;
  left: 120px;
}

#dotO1-4 {
  top: 490px;
  left: 180px;
}

/* N1*/

#dotN1-1 {
  top: 380px;
  left: 240px;
}

#dotN1-2 {
  top: 380px;
  left: 300px;
}

#dotN1-3 {
  top: 490px;
  left: 240px;
}

#dotN1-4 {
  top: 490px;
  left: 300px;
}

/* N2*/

#dotN2-1 {
  top: 380px;
  left: 360px;
}

#dotN2-2 {
  top: 380px;
  left: 420px;
}

#dotN2-3 {
  top: 490px;
  left: 360px;
}

#dotN2-4 {
  top: 490px;
  left: 420px;
}

/* E1*/

#dotE1-1 {
  top: 380px;
  left: 480px;
}

#dotE1-2 {
  top: 380px;
  left: 540px;
}

#dotE1-3 {
  top: 490px;
  left: 480px;
}

#dotE1-4 {
  top: 490px;
  left: 540px;
}

/* C2*/

#dotC2-1 {
  top: 380px;
  left: 600px;
}

#dotC2-2 {
  top: 380px;
  left: 660px;
}

#dotC2-3 {
  top: 490px;
  left: 600px;
}

#dotC2-4 {
  top: 490px;
  left: 660px;
}

/* T1*/

#dotT1-1 {
  top: 380px;
  left: 720px;
}

#dotT1-2 {
  top: 380px;
  left: 780px;
}

#dotT1-3 {
  top: 490px;
  left: 780px;
}

#dotT1-4 {
  top: 490px;
  left: 720px;
}


#sub {
  z-index: 99;
  font-family: "Monte Stella Trial Light";
  font-size: 60px;
  color: #91B8BE;
  position: absolute;
  top: 530px;
  opacity: 0;
}


#proj {
  font-family: "FSP DEMO - Bebas Neue Pro Light";
  font-size: 40px;
  color: #46FFF8;
  text-align: center;
  position: absolute;
  top: 750px
}


.descContainer {
  position: relative;
  
}

#desc, #proj1 {
  position: absolute;
}

#proj1 {


  font-family: "URW Jay Gothic W01 Light";
  font-size: 150px;
  color: #E6FFFB;
  
  top: 1400px;
}

#desc {


  font-family: "Monte Stella Trial Light";
  font-size: 60px;
  color: #91B8BE;
  
  top: 1550px;
}

/*
.descOuterContainer {
  align-items: right;
  width: 40vw;
  position: absolute !important;
  
}

.descContainer {
  width: 0;
  align-items: right;
  margin-left: 900px;
  position: absolute !important;
}

#proj1  {
  font-family: "URW Jay Gothic W01 Light";
  font-size: 150px;
  color: #E6FFFB;
  text-align: left;
  position: absolute;

  top: 1200px;
}

#desc {
  font-family: "Monte Stella Trial Light";
  font-size: 60px;
  color: #91B8BE;
  text-align: left;
  position: absolute;
  
  top: 1350px;
}*/


#team {
  font-family: "URW Jay Gothic W01 Light";
  font-size: 180px;
  color: #E6FFFB;
  position: absolute;
  text-align: center;
  top: 2500px;
}


#rect1 {
  width: 500px;
  height: 200px;
  background-color: #ffffff;
  position: absolute;
  
  top: 2800px;
  left: 5%;
}